<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${message}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    UserName :<input type="text" th:field="*{id}" />
    <span th:if="${#fields.hasErrors('id')}"
          th:errors="*{id}"></span>
    Content :<input type="text" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span>
    PostedDate :<textarea rows="3" th:field="*{posteddate}" />
    <span th:if="${#fields.hasErrors('posteddate')}"
          th:errors="*{posteddate}"></span>
    SentBy :<input type="text" th:field="*{sentby}" />
    <span th:if="${#fields.hasErrors('sentby')}"
          th:errors="*{sentby}"></span>
    <input type="submit" value="Submit" />
</form>
</body>
</html>